body {
	font-size:9pt;
	color: #333333;
	bgcolor: #C0C0C0;
	font-family: sans-serif;
	}

H1	{
	font-size:16pt;
	font-weight:bold;
	line-height:23pt;
	margin:0px 0px 4px 0px;
	}

H2	{
	font-size:12pt;
	font-weight:bold;
	line-height:12pt;
	margin:0px 6px 4px 0px;
	}
